<!-- Footer -->
<!-- <footer class="bg-gray-800 text-white text-center py-4 absolute bottom-0 left-0 right-0 z-[10000000000]"> -->
<!-- Contact Us-->
<!-- <div class="mb-4"> -->
<!-- <h2 class="text-xl font-bold mb-2">Find Us On Social Media</h2> -->
<!-- Facebook Icon -->
<!-- <a href="https://web.facebook.com/our.unique.school">
        <i class="fa-brands fa-facebook-f" style="color: #1877f2; font-size: 24px;"></i>
    </a> -->

<!-- Instagram Icon -->
<!-- <a href="https://www.instagram.com/ouruniqueschool">
        <i class="fa-brands fa-instagram" style="color: #e4405f; font-size: 24px;"></i>
    </a> -->
<!-- <p class="text-white">Email: <a href="mailto:israelodeh2002@gmail.com">Uniqueschools</a> -->
<!-- <p class="text-[10px]">&copy; 2025 Our Unique Children Model Academy. All rights reserved.</p>
</footer> -->

<footer class="bg-gray-800 absolute bottom-0 left-0 right-0 z-[10000000000]">
    <!-- <div class="blue-overlay"></div> -->
    <div class="">
        <!-- Footer Address -->
        <iframe class="w-full"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1874.3171666570722!2d7.384082115033901!3d8.965774888739224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104e732d6898c49d%3A0x3099ff1c8c922348!2sOur%20Unique%20Children%20Model%20Academy!5e0!3m2!1sen!2sng!4v1752626216964!5m2!1sen!2sng"
            height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>

        <div class="md:columns-3 text-center bg-[aquamarine] md:rounded-[31px] md:w-[87%]">
            <div class="">
                <div class="contact-inner">
                    <i class="fa fa-map-marker"></i>
                    <h4 class="contact-title">Address</h4>
                    <p class="contact-desc">
                        C31&amp;32 peace street <br>
                        CCG Estate sabon Lugbe.
                    </p>
                </div>
            </div>
            <div class="">
                <div class="contact-inner">
                    <i class="fa fa-phone"></i>
                    <h4 class="contact-title">Phone Number</h4>
                    <p class="contact-desc">
                        08099252994<br>
                        07067382553
                    </p>
                </div>
            </div>
            <div class="">
                <div class="contact-inner">
                    <i class="fa fa-map-marker"></i>
                    <h4 class="contact-title">Email Address</h4>
                    <p class="contact-desc">
                        info@ouruniquechildrenacademy.com.ng<br>
                        www.ouruniquechildrenacademy.com.ng
                    </p>
                </div>
            </div>
        </div>

    </div>

    <!-- Footer Top -->
    <div class="">
        <div class="">
            <div class="lg:columns-3">
                <div class="inline-block">
                    <div class="">
                        <!-- <img src="assets/images/logo.jpg" alt="Footer Logo"> -->
                        <p>Our dedicated and specially trained teachers delivers a program not only for now but in
                            preparation for your child's future.</p>
                        <p>We are a unique School which runs a child focused curriculum that
                            enhances your child's learning. </p>
                    </div>
                </div>
                <div class="">
                    <h5>OUR SITEMAP</h5>
                    <ul>
                        <li class="float-left w-[50%] "><a href="index.php"><i class="fa fa-angle-right"
                                    aria-hidden="true"></i>Home</a></li>
                        <li class="float-left w-[50%]"><a href="about.php"><i class="fa fa-angle-right"
                                    aria-hidden="true"></i>About us</a></li>
                        <li class="float-left w-[50%]"><a href="admission.php"><i class="fa fa-angle-right"
                                    aria-hidden="true"></i>Admission</a>
                        </li>
                        <li class="float-left w-[50%]"><a href="news.php"><i class="fa fa-angle-right"
                                    aria-hidden="true"></i>News</a></li>
                        <li class="float-left w-[50%]"><a href="events.php"><i class="fa fa-angle-right"
                                    aria-hidden="true"></i>Events</a></li>
                        <li class="float-left w-[50%]"><a href="gallery.php"><i class="fa fa-angle-right"
                                    aria-hidden="true"></i>Gallery</a></li>
                        <li class="float-left w-[50%]"><a href="/private/login.php"><i class="fa fa-angle-right"
                                    aria-hidden="true"></i>Login</a>
                        </li>
                        <li class="float-left w-[50%]"><a href="/private/apply.php"><i class="fa fa-angle-right"
                                    aria-hidden="true"></i>Apply
                                Now</a></li>
                    </ul>
                </div>
                <div class="inline-block">
                    <h5>NEWSLETTER</h5>
                    <p>Sign Up to Our Newsletter to Get Latest Updates &amp; Services</p>
                    <form>
                        <input type="text" placeholder="Enter Your Email">
                        <button type="submit"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
            <div>
                <ul class="flex">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div>
            <div>
                <p>© 2023
                    <!-- <a href="zap.ng">Zeon Academy Pro</a> -->
                    . All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</footer>