<!-- Footer -->
<!-- <footer class="bg-gray-800 text-white text-center py-4 absolute bottom-0 left-0 right-0 z-[10000000000]"> -->
<!-- Contact Us-->
<!-- <div class="mb-4"> -->
<!-- <h2 class="text-xl font-bold mb-2">Find Us On Social Media</h2> -->
<!-- Facebook Icon -->
<!-- <a href="https://web.facebook.com/our.unique.school">
        <i class="fa-brands fa-facebook-f" style="color: #1877f2; font-size: 24px;"></i>
    </a> -->

<!-- Instagram Icon -->
<!-- <a href="https://www.instagram.com/ouruniqueschool">
        <i class="fa-brands fa-instagram" style="color: #e4405f; font-size: 24px;"></i>
    </a> -->
<!-- <p class="text-white">Email: <a href="mailto:israelodeh2002@gmail.com">Uniqueschools</a> -->
<!-- <p class="text-[10px]">&copy; 2025 Our Unique Children Model Academy. All rights reserved.</p>
</footer> -->

<footer class="bg-gray-800 relative md:pt-[7%]  text-white">
    <!-- <div class="blue-overlay"></div> -->

    <!-- Footer Address -->
    <div class="justify-between text-center md:rounded-[31px] md:absolute left-0 right-0  md:w-fit gap-20 px-[35px] ml-auto mr-auto top-[-27%] relative bg-white py-[10px] text-[#92278f]"
        id="contactUs">
        <h2 class="font-[800] text-[20px]"> Contact Us</h2>
        <div class="md:flex justify-between text-center md:w-fit gap-20 px-[35px] ml-auto mr-auto top-[-20%]">
            <div class="contact-inner">
                <i class="fa fa-map-marker"></i>
                <h4 class="font-[600] text-[16px]">Address</h4>
                <p class="text-gray-800">
                    C31&amp;32 peace street <br>
                    CCG Estate sabon Lugbe.
                </p>
            </div>
            <div class="">
                <i class="fa fa-phone"></i>
                <h4 class="font-[600] text-[16px]">Phone Number</h4>
                <p class="text-gray-800">
                    08099252994<br>
                    07067382553
                </p>
            </div>
            <!-- <div class="">
            <div class="contact-inner">
                <i class="fa fa-map-marker"></i>
                <h4 class="contact-title">Email Address</h4>
                <p class="contact-desc">
                    info@ouruniquechildrenacademy.com.ng<br>
                    www.ouruniquechildrenacademy.com.ng
                </p>
            </div>
        </div> -->
        </div>
    </div>



    <!-- Footer Top -->
    <div class="px-[40px]">
        <div class="lg:columns-3">
            <div class="inline-block py-[20px]">
                <!-- <img src="assets/images/logo.jpg" alt="Footer Logo"> -->
                <p>Our dedicated and specially trained teachers delivers a program not only for now but in
                    preparation for your child's future.</p>
                <p>We are a unique School which runs a child focused curriculum that
                    enhances your child's learning. </p>
            </div>
            <div class="py-[20px]">
                <h5 class="font-[600] text-[16px] text-[#92278f]">OUR SITEMAP</h5>
                <ul>
                    <li class="float-left w-[50%] "><a href="index.html"><i class="fa fa-angle-right pr-[10px]"
                                aria-hidden="true"></i>Home</a></li>
                    <li class="float-left w-[50%]"><a href="index.html#about"><i class="fa fa-angle-right pr-[10px]"
                                aria-hidden="true"></i>Our Unique Mantra</a></li>
                    <li class="float-left w-[50%]"><a href="index.html#about"><i class="fa fa-angle-right pr-[10px]"
                                aria-hidden="true"></i>Our Pledge</a></li>
                    <li class="float-left w-[50%]"><a href="index.html#classes"><i class="fa fa-angle-right pr-[10px]"
                                aria-hidden="true"></i>Our Classes</a></li>
                    <li class="float-left w-[50%]"><a href="admission.html"><i class="fa fa-angle-right pr-[10px]"
                                aria-hidden="true"></i>Admission</a>
                    </li>
                    <li class="float-left w-[50%]"><a href="index.html#gallary"><i class="fa fa-angle-right pr-[10px]"
                                aria-hidden="true"></i>A Window Inside</a></li>
                    </li>
                    <!-- <li class="float-left w-[50%]"><a href="/private/apply.php"><i class="fa fa-angle-right pr-[10px]"
                                aria-hidden="true"></i>Apply
                            Now</a></li> -->
                </ul>
            </div>
            <div class="inline-block py-[20px] w-full">
                <h5 class="font-[600] text-[16px] text-[#92278f]">NEWSLETTER</h5>
                <p>Sign Up to Our Newsletter to Get Latest Updates &amp; Services</p>
                <form class="flex gap-1">
                    <input type="text" placeholder="Enter Your Email"
                        class="    border-white border-[2px] border-solid rounded-sm  w-full">
                    <button type="submit" class="bg-[#92278f] px-2.5"><i class="fa fa-arrow-right"
                            aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
        <div class="place-items-center">
            <ul class="flex gap-[20px]">
                <li><a href="https://web.facebook.com/our.unique.school">
                        <i class="fa-brands fa-facebook-f" style="color: #1877f2; font-size: 24px;"></i>
                    </a></li>
                <li>
                    <a href="https://www.instagram.com/ouruniqueschool">
                        <i class="fa-brands fa-instagram" style="color: #e4405f; font-size: 24px;"></i>
                    </a>
                </li>
                <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                <li><a href="#"><i class="fa fa-vimeo"></i></a></li> -->
            </ul>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="place-items-center">
        <div>
            <div>
                <p>© 2025
                    <!-- <a href="zap.ng">Zeon Academy Pro</a> -->
                    Our Unique Children Model Academy. All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</footer>