<footer class="site-footer bg-teal-800 text-white py-8" style="
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <div>
                <div class="flex items-center">
                    <img src="./assets/images/logo.png" alt="Our Unique Children Model Academy Logo" class="h-20 mb-4">
                    <h3 class="text-md font-bold mb-4">Our Unique Children Model Academy<span
                            class="text-yellow-400">.</span></h3>
                </div>
                <p>Building a foundation for lifetime learning with creativity, self-reliance, and global
                    competence.</p>
            </div>
            <div>
                <h3 class="text-xl font-bold mb-4">Quick Links</h3>
                <ul class="space-y-2">
                    <li><a href="index.html" class="hover:text-yellow-400">Home</a></li>
                    <li><a href="#" class="hover:text-yellow-400">About</a></li>
                    <!-- <li><a href="staff.html" class="hover:text-yellow-400">Our Staff</a></li> -->
                    <!-- <li><a href="news.html" class="hover:text-yellow-400">News</a></li> -->
                    <!-- <li><a href="#" class="hover:text-yellow-400">Gallery</a></li> -->
                    <li><a href="blog.html" class="hover:text-yellow-400">News & Events</a></li>
                    <li><a href="https://ouruniquechildrenmodelacademy.com.ng/private/login.php"
                            class="bg-[#ee1623] text-gray-800 px-4 py-2 rounded hover:text-yellow-400">Login</a></li>
                    <li class="mt-5"><a href="admissions.html"
                            class="text-lg bg-yellow-400 text-gray-800 px-4 py-2 rounded hover:bg-yellow-500">Admission</a>
                    </li>
                </ul>
            </div>
            <div id="contact">
                <h3 class="text-xl font-bold mb-4">Contact</h3>
                <p><i class="fas fa-map-marker-alt mr-2"></i>No.31/32 Peace Street, Cooperative Garden City
                    Estate, Lugbe-Abuja</p>
                <p><i class="fas fa-phone mr-2"></i><a href="tel:+2348025022263">08025022263</a></p>
                <p><i class="fas fa-phone mr-2"></i><a href="tel:+234706738553">0706738553</a></p>
                <p><i class="fas fa-phone mr-2"></i><a href="tel:+2348099252994">08099252994</a></p>
                <!-- <p><i class="fas fa-envelope mr-2"></i><a
                                href="mailto:Administator@uniqueschools.com">Administator@uniqueschools.com</a></p> -->
                <div>
                    <ul class="flex gap-[20px]">
                        <span>Social Media: </span>
                        <li><a href="https://web.facebook.com/our.unique.school">
                                <i class="fa-brands fa-facebook-f" style="color: #1877f2; font-size: 24px;"></i>
                            </a></li>
                        <li>
                            <a href="https://www.instagram.com/ouruniqueschool">
                                <i class="fa-brands fa-instagram" style="color: #e4405f; font-size: 24px;"></i>
                            </a>
                        </li>
                        <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                <li><a href="#"><i class="fa fa-vimeo"></i></a></li> -->
                    </ul>
                </div>
            </div>

        </div>
        <div class="text-center mt-8">
            <p>&copy;
                <script>document.write(new Date().getFullYear());</script> Our Unique Children Model Academy.
                All rights reserved.
            </p>
        </div>
    </div>
</footer>