<nav class="bg-gray-800 text-black text-center items-center flex fixed justify-between w-full z-[350000] ">
    <a href="index.html" id="scrollElement" class="transition-opacity duration-300 h-[90px] w-[90px]">
        <img src="assets/images/logo.jpg" alt="Unique Schools Logo" style="height: inherit; width: 90px;" />
    </a>
    <h1 id="scrollTitle" class="text-xl  sm:text-2xl font-bold text-primary text-center mx-auto w-auto content-center">
        Our Unique
        Children
        Model
        Academy</h1>
    <ul class="hidden md:flex space-x-6 text-white transition-opacity duration-300">
        <li class="group/nav-menu inline-block px-4 py-2 hover:bg-gray-200 relative">
            <a href="index.html" class="hover:text-blue-600">Home</a>
        </li>
        <li class="group/nav-menu inline-block px-4 py-2 hover:bg-gray-200 relative">
            <a class="hover:text-blue-600">About</a>
            <div
                class="absolute  hidden group-hover/nav-menu:block hover:blockshadow-lg transform scale-95 group-hover/nav-menu:scale-100 transition-all duration-300 origin-left z-50 group-hover/menu:block bg-gray-700 top-[40px] w-[140px] right-0">
                <a href="index.html#mission"
                    class="block px-4 py-2 hover:bg-gray-200 hover:text-black hover:font-bold">Our
                    Mission</a>
                <!-- <a href="about-us.html#history"
                    class="block px-4 py-2 hover:bg-gray-200 hover:text-black hover:font-bold">Our
                    History</a> -->
                <a href="index.html#anthem"
                    class="block px-4 py-2 hover:bg-gray-200 hover:text-black hover:font-bold">Our
                    Anthem</a>
                <a href="index.html#founder"
                    class=" block px-4 py-2 hover:bg-gray-200 hover:text-black hover:font-bold">About the
                    founder</a>
            </div>
        </li>
        <li class="group/nav-news inline-block px-4 py-2 hover:bg-gray-200 relative">
            <a href="admissions.html" class="hover:text-blue-600">Admissions</a>
            <div
                class="absolute  hidden group-hover/nav-news:block hover:block  shadow-lg transform scale-95 group-hover/nav-news:scale-100 transition-all duration-300 origin-left z-50  group-hover/news:block bg-gray-700 top-[40px] w-[140px] right-0">
                <a href="admissions.html" class="block px-4 py-2 hover:bg-gray-200">How To Apply</a>
            </div>
        </li>
        <!-- <li class="group/nav-next inline-block px-4 py-2 hover:bg-gray-200 relative">
            <a href="#contact" class="hover:text-blue-600">Contact Us</a>
            <div
                class="absolute  hidden group-hover/nav-next:block hover:block transform scale-95 group-hover/nav-next:scale-100 transition-all duration-300 origin-left z-50 shadow-lg  group-hover/next:block bg-gray-700 top-[40px] w-[140px] right-0">
                <a href=" #" class="block px-4 py-2 hover:bg-gray-200">Our Mission</a>
                <a href="#" class="block px-4 py-2 hover:bg-gray-200">History</a>
            </div>
        </li> -->
    </ul>
    <!-- Hamburger menu for mobile -->
    <button id="menu-toggle" onclick="toggleSidebar()"
        class="md:hidden  px-2 py-1 focus:outline-none text-white border-thin border rounded-[5px] w-[60px] text-[25px]">
        <i class="fas fa-bars text-[20px]"></i>
    </button>
</nav>

<div id="sidebar"
    class="fixed top-0 right-0 h-full w-64 bg-gray-800 text-white transform translate-x-full transition-transform duration-300 z-50 md:block">

    <!-- Menu Item with Hoverable Submenu -->
    <div id="mainMenu">
        <button onclick="toggleSidebar()" class="md:hidden text-white">✖</button>
        <a href="index.html" class="block px-4 py-3 hover:bg-gray-700">Home</a>
        <div class="relative">
            <button onclick="showSubmenu('submenu1')"
                class="w-full text-left px-4 py-3 hover:bg-gray-700 flex justify-between items-center">
                About Us
                <svg class="w-4 h-4 ml-2 transform transition-transform" fill="none" stroke="currentColor"
                    viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </button>
        </div>
        <a href="admissions.html" class="block px-4 py-3 hover:bg-gray-700">Admissions</a>
        <a href="index.html#contact" class="block px-4 py-3 hover:bg-gray-700">Contact Us</a>

    </div>

    <!-- Submenu -->
    <div id="submenu1" class="absolute top-0 left-full w-full h-full transition-all duration-300 bg-gray-800">
        <div class="p-4 border-b border-gray-700 flex justify-between items-center">
            <button onclick="backToMain()" class="text-white">← Back</button>
        </div>

        <a href="index.html#mission" class="block px-4 py-3 hover:bg-gray-700">Our Mission</a>
        <a href="index.html#mantra" class="block px-4 py-3 hover:bg-gray-700">Our Unique Mantra</a>
        <a href="index.html#anthem" class="block px-4 py-3 hover:bg-gray-700">Our Anthem</a>
        <!-- <a href="about-us.html#founder" class="block px-4 py-3 hover:bg-gray-700">About The Founder</a> -->
    </div>
</div>

<div id="overlay" class="bg-[#00000085] hidden fixed top-0 bottom-0 left-0 right-0 z-20"></div>