<!-- Mobile Menu -->
<div class="site-mobile-menu hidden fixed inset-0 bg-teal-800 text-white z-[600000]">
    <div class="site-mobile-menu-header flex justify-end p-4">
        <button class="menu-toggle text-2xl"><i class="fas fa-times"></i></button>
    </div>
    <div class="site-mobile-menu-body p-4">
        <ul class="site-nav-wrap space-y-4">
            <li><a href="index.html" class="text-lg hover:text-yellow-400">Home</a></li>
            <li><a href="index.html#about" class="text-lg hover:text-yellow-400">About</a></li>
            <!-- <li><a href="staff.html" class="text-lg hover:text-yellow-400">Our Staff</a></li> -->
            <!-- <li><a href="news.html" class="text-lg hover:text-yellow-400">News</a></li> -->
            <!-- <li><a href="index.html#gallery" class="text-lg hover:text-yellow-400">Gallery</a></li> -->
            <li><a href="index.html#contact" class="text-lg hover:text-yellow-400">Contact</a></li>
            <li><a href="admissions.html"
                    class="text-lg bg-yellow-400 text-gray-800 px-4 py-2 rounded hover:bg-yellow-500">Admissions</a>
            </li>
        </ul>
    </div>
</div>

<!-- Navigation -->
<nav class="site-nav bg-white shadow-md">
    <div
        class="fixed-nav fixed left-0 right-0 top-0 z-[500000] shadow-md transition transition-ease duration-300 text-[#ee1623]">
        <div class="container mx-auto px-4  flex justify-between items-center">
            <a href="index.html" id="scrollElement" class="text-2xl font-bold text-teal-600 h-[90px] w-[90px]">
                <img src="./assets/images/logo.png">
            </a>
            <span id="scrollTitle" class="hidden content-center text-gray-800 font-bold">
                Our Unique Children Model Academy
                <span class="text-yellow-400">.</span>
            </span>
            <ul class="hidden lg:flex space-x-6 items-center">
                <li><a href="index.html" class="hover:text-yellow-400">Home</a></li>
                <li><a href="index.html#about" class="hover:text-yellow-400">About</a></li>
                <!-- <li><a href="staff.html" class="hover:text-yellow-400">Our Staff</a></li> -->
                <!-- <li><a href="news.html" class="hover:text-yellow-400">News</a></li> -->
                <!-- <li><a href="index.html#gallery" class="hover:text-yellow-400">Gallery</a></li> -->
                <li><a href="index.html#contact" class="hover:text-yellow-400">Contact</a></li>
                <li><a href="admissions.html"
                        class="bg-yellow-400 text-gray-800 px-4 py-2 rounded hover:bg-yellow-500">Enroll Now</a>
                </li>
            </ul>
            <button class="lg:hidden menu-toggle bg-yellow-400 px-4 py-2 rounded"><i
                    class="fas fa-bars text-2xl text-teal-600"></i></button>
        </div>
    </div>
</nav>